@import url('https://fonts.cdnfonts.com/css/netflix-font');

* {
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url("assets/images/bg1.jpg");
    background-position: top;
    background-size: max(1700px, 100vw);
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    display: block;
}

.main .box {
    height: 100vh;
    width: 100%;
    opacity: 0.5;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    margin: auto;
    max-width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

nav img {
    color: red;
    width: 140px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: 'Netflix Font', sans-serif;
    height: calc(100%-100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 20px;
    padding: 180px 30px;
    margin: 15px 0;
}

/* > symbol for imidiat child */
.hero> :nth-child(1) {
    font-weight: 900;
    font-size: 50px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.separation {
    height: 7px;
    background-color: rgb(35 35 35);
}

.btn {
    padding: 3px 8px;
    font-weight: 400;
    color: white;
    background-color: rgba(248, 243, 243, 0.021);
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    border: 1px solid rgba(7, 7, 7, 0);
    font-size: 20px;
    border-radius: 6px;
    font-weight: 400;
    height: 60px;
    width: 200px;

}

.btn-red-sm {
    background-color: red;
    color: white;
}


.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

}

.main input {
    padding: 7px 101px 8px 14px;
    color: white;
    font-size: 20px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgb(236 228 228 / 58%);
    height: 43px;
    width: 228px;
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;

}


.secImg {
    position: relative;
}

.secImg img {
    width: 555px;
    position: relative;
    z-index: 10;
}

.secImg video {
    position: absolute;
    top: 140px;
    right: 80px;
    width: 404px;
}

.third video {
    top: 74px;
    width: 333px;
    right: 114px;
}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

section.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}

section.first>div :nth-child(2) {
    font-size: 24px;
}

.faq h2 {
    text-align: center;
    font-size: 48px;
}

.faq {
    background-color: black;
    color: white;
    padding: 7vw 13vw;
}

.faqbox:hover {

    background-color: #414141;

}

.faqbox svg {
    filter: invert(1);
    /*for inverting the given + sign color so invert value 1 */
}

.faqbox {
    transition: all 1s ease-out;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 68vw;
    margin: 20px auto;
    cursor: pointer;

}

.faq input {
    background-color: rgba(248, 243, 243, 0.021);
    padding: 11px 24px;
    height: 23px;
    width: 254px;
}

.end4{
    margin: 5vw 5vw 0vw 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 3vw;
}


footer {
    color: white;
    max-width: 76vw;
    margin: auto;
    padding: 14px;
    margin-bottom: 70px;
}

footer .questions {
    padding: 34px 0;
    ;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: rgb(99, 25, 25);
}

@media screen and (max-width: 1400px) {

    .main {
        height: 80vh;
    }
    .main .box {
        height: 80vh;
    }

}




@media screen and (max-width: 1374px) {
    .first {
        flex-wrap: wrap;
    }

    .secImg img {
        width: 555px;
    }

    .secImg video {
        width: 555px;

    }

    .secImg img {
        width: 305px;
    }

    .secImg video {
        width: 222px;
        top: 84px;
        right: 45px;
    }

    .third video {
        top: 53px;
        width: 185px;
        right: 60px;
    }

    .hero-buttons {
        flex-direction: column;
    }

    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }


    .main {
        height: 70vh;
    }

    .main .box{
        height: 70vh;
    }



    .hero {
        padding: 10vw 10vw;
    }

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;

    }

}


.footer a {
    font-size: 14px;
    color: white;
}

.footer-items {
    display: flex;
    flex-direction: column;
    gap: 23px;
}